body
{
    background-position: center;
    background-image: linear-gradient(rgba(236, 226, 226, 0.5), rgba(199, 72, 72, 0.5)) 
}

.signup-form{
    height: 1000px;
    width: 800px;
    margin-top: 5%;
    margin-left: 25%;
    gap: 150px;
}


.Main
{
    background: white url(Images/download.jpg);
}



.radio-btn .btn
{
    margin: 10px;
    box-shadow: none;
}

.radio-btn .btn::after
{
    content:"";
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: white;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after
{
content: "";
background-color: #000;
transition: 0.5s;    
}

.radio-btn span
{
    color: #fff
    margin-right 5px;
    font-size: 15px
}


.booking-form .form-control{
    width: 250px; 
    padding: 10px;
    margin: 10px;
    color: #fff;
   }

   .booking-form1 .form-control1 {
    margin: 10px;
    padding: 10px;
    color: white;
   }

.booking-form2 .form-control2 {
    padding: 10px;
    margin: 10px;
    color: white;
}

.Passenger .form-control3 {
    padding: 10px;
    margin: 10px;
    color: white;
}